.shop__btn {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.shop__addShop {
    width: 40%;
}

.shop__showBy {
    width: 40%;
}

.shop__display {
    display: flex;
    justify-content: center;
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 400px));
    gap: 2em;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 2em 0 3em 0;
}

.shop__filterCloseBtn {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .shop__display {
        grid-template-columns: repeat(auto-fit, 200px);
        font-size: 1rem;
    }
}